node_modules

/.yarn/*
!/.yarn/cache
/.yarn/cache/esbuild*.zip
/.yarn/cache/@esbuild*.zip
/.yarn/cache/@swc-core*.zip
!/.yarn/patches
!/.yarn/plugins
!/.yarn/releases
!/.yarn/sdks

/packages/*/coverage
/packages/*/dist

.DS_Store
